html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Courier";
  display: flex;
  font-size: 80%;
  flex-direction: column;
  align-items: center;
}

canvas {
  display: block;
}

div {
  max-width: 100vw;
  max-height: 100vh;
}
